<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <header>

    </header>
    <div class="posts">

  <!-- main start -->

  <div class="insert">
    <h1>Parts Edit</h1>
    <form class ="post_form" action="/posts/<%=data._id%>?_method=put" method="post">
      <table width="100%" border="1">
        <tr>
          <th>구분</th>
          <th>품명</th>
          <th>제조사</th>
          <th>수치</th>
          <th>개수</th>
          <th>수정</th>
        </tr>
        <tr>
          <th> <input type= "text" name="post[sort]" size="5"> </th>
          <th> <input type= "text" name="post[name]" size=""> </th>
          <th> <input type= "text" name="post[Manufacture]" size="10"> </th>
          <th> <input type= "text" name="post[value]" size="5"> </th>
          <th> <input type= "text" name="post[number]" size="5"> </th>
          <th> <button> O </button> </th>
        </tr>
      </form>

   <!-- main end -->
    </div><!-- posts end -->
    </table>
  </body>
</html>
