<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="category">
    <% include partials/top %>
  <!-- main start -->

  <ul>
     <a href="/category/R">
      <img src="images/parts.jpg" width="250" height="250" alt="부품"/>
    </a>


    <a href="/category">
     <img src="images/product.jpg" width="250" height="250" alt="제품"/>
   </a>
</ul>


   <!-- main end -->
    </div><!-- posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
