<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="category">
    <% include partials/top %>
  <!-- main start -->
  <center>
  <ul>
     <a href="/posts/R">
      <img src="../images/R.jpg" width="200" height="200" alt="부품"/>
    </a>

    <a href="/posts/L">
     <img src="../images/L.jpg" width="200" height="200" alt="제품"/>
   </a>
   <a href="/posts/C">
    <img src="../images/C.jpg" width="200" height="200" alt="제품"/>
  </a>
</ul>
</center>

   <!-- main end -->
    </div><!-- posts end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
