
<a href="/posts/R/insert"><input type="button" value="Insert" style="width:5%; height:10mm"></a>
<a href="/posts/R/insert"><input type="button" value="Edit" style="width:5%; height:10mm"></a>
<a href="/posts/R/insert"><input type="button" value="Delete" style="width:5%; height:10mm"></a>
